@charset "UTF-8";

.notice{
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  display: table;
  table-layout: fixed;
}

.notice th{
  background: var(--m-color01);
  color: var(--m-color02);
  line-height: 48px;
  font-weight: 500;
}

.notice td{
  line-height: 50px;
  text-align: center;
}

.notice-num{
  width:10%;
}
.notice-title{
  width: 50%;
  text-align: left;
  padding-left: 20px;
  display: table-cell
}
.notice-view{
  width: 10%;
}
.notice-file{
  width: 10%;
}
.notice-date{
  width: 20%;
}
.notice-title a{
  display: block;
  color: #333;
  width: 100%;
  height: 100%;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.prev, .next{
  background: var(--m-color01);
  color: #fff;
  display: inline-block;
  width: 50px;
  line-height: 30px;
  margin: 0px 15px;
}
.prev.disable, .next.disable{
  background: #888;
  color: #fff;
  display: inline-block;
  width: 50px;
  line-height: 30px;
}
.pagination{
  width: 50%;
  margin: 15px auto 0px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.pagination a:not(.prev, .next){
  color: #333;
  padding: 0px 5px;
  display: inline-block;
  line-height: 30px;
  width: 30px;
}
.pagination a.active{
  color: var(--m-color01);
  font-weight: 700;
}
